<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Anime RD</title>
</head>
<body>
   <main class="container">
    <header>
        
        <div class="header-nav">
         <h1> <span>The</span>  anime <span> </span></h1>
 
         <nav>
             <a href="inicio">Inicio</a>
             <a href="anime">animes</a>
             <a href="sobre-anime">acerca de</a>
             <a href="autor">Sobre Autor</a>
         </nav>
        </div>
 
        <div class="slogan">
            <p>Los mejores top de animes, estan aqui</p>
        </div>
     </header>
     <section class="category">
        <h3 class="color-black">Animes top Populares</h3>
        <div class="images" id="images">
           


        </div>
     </section>

     <footer>
           
        <div class="footer">
            <h1> <span>The</span>  anime <span> </span></h1>
    
            <div class="footer-nav">
                <a href="inicio">Inicio</a>
             <a href="anime">animes</a>
             <a href="sobre-anime">acerca de</a>
             <a href="autor">Sobre Autor</a>
            </div>
           </div>


         <p>Todos los derechos Reservados, Emanuel de jesus 2022 &copy;</p>
     </footer>
   </main>
   <script denfer src="js/index.js"></script>
</body>
</html>