<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Anime RD</title>
</head>
<body>
   <main class="container">
    <header>
        
        <div class="header-nav">
         <h1> <span>The</span>  anime <span> </span></h1>
 
         <nav>
             <a href="inicio">Inicio</a>
             <a href="anime">animes</a>
             <a href="sobre-anime">acerca de</a>
             <a href="autor">Sobre Autor</a>
         </nav>
        </div>
 
        <div class="slogan">
            <p>viviendo momentos inolvidables</p>
        </div>
     </header>
 
    <div class="info">
        <h1 class="name-author">Emanuel de jesus santana</h1>
        <div class="img-author">
          <img class="imgAuthor" src="img/foto.jpeg" alt="photo emanuel de jesus">
        </div> 
    </div>

    <section class="biography contenedore">
        <h2>biografia</h2>

        <p>soy un estudiante, tengo 23 años,vivo en santo domingo, mi ambito de estudio esta enfocado en el desarrollo web aplicando las tecnologias de js, html y css, para adquirir estos conocimientos estoy estudiando en las intitituciones privadas como itla y UTESA y plataformas de contenido streaming en internet, como youtube entre otros.

        Decidi realizar esta pagina web para incluirla en mi portafolio como programador web en js 
        </p>

        <div class="callme">
            <h2>Contactame</h2>
        <ul>
            <li><i class="fa-brands fa-github"></i> emanuelcode19</li>
            <li><i class="fa-brands fa-linkedin"></i> Emanuel de Jesus Santana</li>
        </ul>
        </div>
    </section>

     <footer>
           
        <div class="footer">
            <h1> <span>The</span>  anime <span> </span></h1>
    
            <div class="footer-nav">
                <a href="inicio">Inicio</a>
                <a href="anime">animes</a>
                <a href="sobre-anime">acerca de</a>
                <a href="autor">Sobre Autor</a>
            </div>
           </div>


         <p>Todos los derechos Reservados, Emanuel de jesus 2022 &copy;</p>
     </footer>
   </main>
   <script denfer src="js/index.js"></script>
   <script src="https://kit.fontawesome.com/abb9ee21ae.js" crossorigin="anonymous"></script>
</body>
</html>