<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Anime RD - informacion</title>
</head>
<body>
   <main class="container">
    <header>
        
        <div class="header-nav">
         <h1> <span>The</span>  anime <span> </span></h1>
 
         <nav>
             <a href="index.html">Inicio</a>
             <a href="#images">animes</a>
             <a href="#">acerca de</a>
             <a href="sobre-autor.html">Sobre Autor</a>
         </nav>
        </div>
 
        <div class="slogan">
            <p>viviendo momentos inolvidables</p>
        </div>
     </header>
 
     <section class="info-anime">
         
     </section>
 
     <footer>
           
        <div class="footer">
            <h1> <span>The</span>  anime <span> </span></h1>
    
            <div class="footer-nav">
                <a href="index.html">Inicio</a>
                <a href="#images">animes</a>
                <a href="#">acerca de</a>
                <a href="http://localhost:3000/sobre-autor">Sobre Autor</a>
            </div>
           </div>


         <p>Todos los derechos Reservados, Emanuel de jesus 2022 &copy;</p>
     </footer>
   </main>
   <script denfer src="js/index.js"></script>
   <script denfer src="js/info.js"></script>
</body>
</html>